<div fxLayout="column" fxLayoutAlign="center stretch">
  <div matDialogTitle fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex>
      {{data.title ? data.title : data.header}}
    </div>
    <button matDialogClose mat-button color="warn" type="button" aria-label="Close" style="margin-left: auto;">
      &times;
    </button>
  </div>
  <hr>
  <div matDialogContent fxLayout="row" fxLayoutAlign="space-evenly center">
    <div>
      <img src="{{data.url}}" alt="{{data.alt ? data.alt : data.title}}" width="100%">
    </div>
  </div>
</div>
