.page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
mat-sidenav-container {
  height: 93%;
  width: 100%;
}

.page-content {
  position: relative;
  overflow-y: auto;
}
