<div class="page-container">
  <header>
    <app-header fxLayout="row" fxLayoutAlign="space-between" fxFlex></app-header>
  </header>
  <mat-sidenav-container (backdropClick)="closeSidenav()">
    <mat-sidenav position="end" class="nav-container" #sidenav (keydown.escape)="closeSidenav()" disableClose *ngIf="!showFullNav">
      <nav fxFlex fxLayout="column" fxLayoutAlign="start stretch">
        <button mat-button
                *ngFor="let link of navLinks"
                [routerLink]="link.path"
                routerLinkActive #rla="routerLinkActive"
                (click)="closeSidenav()">
          {{link.label}}
        </button>
      </nav>
    </mat-sidenav>
    <div class="page-content">
    <content>
      <router-outlet></router-outlet>
    </content>
    <footer>
      <app-footer></app-footer>
    </footer>
    </div>
  </mat-sidenav-container>
</div>
