/* You can add global styles to this file, and also import other style files */
a, a:visited{
  text-decoration: none;
}

.nav-container{
  background-color: rgb(137,200,55);
  color: rgb(15,59,101);
  width: 15em;
}

body {
  color: rgb(15,59,101);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

header {
  background-color: rgb(137,200,55);
  color: rgb(15,59,101);
  height: 4em;
}

header a {
  color: rgb(15,59,101);
}

footer {
  margin-top: 10px;
  padding-top: 5px;
  background-color: rgb(137,200,55);
  color: rgb(15,59,101);
  font-family: 'Roboto', sans-serif;
}

mat-card-title {
  font-size: 2em !important;
  font-family: 'Roboto', sans-serif;
  color: rgba(65,199,243,0.7);
}

mat-card {
  margin-top: 15px;
  color: rgb(15,59,101);
}

mat-card-content {
  padding-left: 1em;
  padding-right: 1em;
  text-indent: 1.25em;
}

mat-sidenav nav {
  background-color: rgb(15,59,101);
  color:  rgb(137,200,55);
}

hr{
  margin-left: 0;
  margin-right: 0;
}

.warning-snackbar{
  background-color: rgb(211, 0, 0) !important;
  color: white !important;
}

.watch-snackbar{
  background-color: rgb(231, 112, 0) !important;
  color: white !important;
}

.advisory-snackbar{
  background-color: rgb(255, 236, 61) !important;
  color: black !important;
}